body{
font-style:italic;
background-color:black;




}

p{
color:white;
background:black;

}

.texto-azul{

}   
.texto-vermelho{

}   
.texto-branco{

}   
.texto-verde{

}   
.texto-amarelo{

}

.fundo-azul{

}   
.fundo-vermelho{

}   
.fundo-branco{

}   
.fundo-verde{

}   
.fundo-amarelo{

}

.texto-direita{

}
.texto-esquerda{

}
.texto-centralizado{
    
}